@font-face {
    font-family: Graziano;
    src: url("Graziano.ttf");
}

@font-face {
    font-family: Avidra;
    src: url("avidra.otf");
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, code {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    font-family: sans-serif;
    min-height: 740px;
    background-image:url("paper_fibers.png");
}

/*div {*/
    /*border: solid;*/
    /*border-color: red;*/
/*}*/

.slide {
    /*display: block;*/
    width: 1000px;
    height: 700px;
}

.slide-header {
    font-size: 50px;
}

.slide-content {
    font-size: 30px;
}

.step {
    margin: 0;
    opacity: 0.3;

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    /*border: solid;*/
    /*border-color: green;*/

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step.active {
    opacity: 1;
}

.step:not(.active) {
    opacity: 0;
}

.step.overlay-bg {
    opacity: 1;
}

.presentation_title {
   font-family: Avidra;
   text-align: center;
   width:100%;
   font-size: 48px;
}

.presentation_author {
    text-align: left;
    font-size: 25px;
    display: inline-block;
    width: 7em;
}

.presentation_date {
    font-family: Avidra;
    font-size: 25px;
    position: absolute;
    bottom: 40px;
    right: 5px;
}

.presentation_date .date {
    display: inline-block;
}

.presentation_date .slash {
    font-size: 50px; 
    display: inline-block;
    -webkit-transform: translateY(15px);
    -moz-transform:    translateY(15px);
    -ms-transform:     translateY(15px);
    -o-transform:      translateY(15px);
    transform:         translateY(15px);
}

.presentation_date .ifmo {
    display: inline-block;
    -webkit-transform: translateY(20px);
    -moz-transform:    translateY(20px);
    -ms-transform:     translateY(20px);
    -o-transform:      translateY(20px);
    transform:         translateY(20px);
}

.small_font {
    font-size: 20px;
}

.vgap {
    padding-top: 10%;
}

.vcenter {
    position: relative;
    top: 25%;
}

.right {
    padding-right: 10%;
    text-align: right;
}
